/* Initial Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 10px;
    font-family: Helvetica-Neue-light, Helvetica, sans-serif;
}

/* Color Palette */
:root {
    --red: #d35266;
    --grey: #888888;
    --grey-light: #888888;
    --black: #383838;
    --white: #ffffff;
}

/* font faces */
@font-face {
    font-family: Gotham-Rounded-Light;
    src: url('fonts/Gotham\ Rounded\ Light.otf')
}

@font-face {
    font-family: Gotham-Bold;
    src: url('fonts/Gotham\ Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: Helvetica-Neue-light;
    src: url('fonts/HelveticaNeueLTStd\ Lt.otf');
    font-weight: lighter;
}

@font-face {
    font-family: Helvetica-Neue;
    src: url('fonts/HelveticaNeueLTStd-Cn.otf');
}

@font-face {
    font-family: Helvetica-Neue-bold;
    src: url('fonts/HelveticaNeueLTStd-BdCn.otf');
    font-weight: bold;
}

/* navbar section */
nav {
    background-color: var(--black);
    padding: 0.5rem 0;
}

nav > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, max-content));
    justify-content: space-evenly;
    align-items: center;
}

nav > ul > li {
    display: flex;
    font-size: 1.5rem;
    color: var(--grey);
    transition: 0.3s;
}

nav > ul > li:hover {
    color: var(--white);
    cursor: pointer;
}

nav > ul > li > i {
    margin: 0 1.5rem;
}

.red-btn {
    padding: 1rem 2rem;
    color: var(--white);
    background-color: var(--red);
    border-radius: 3px;
    transition: 0.3s;
}

.red-btn:hover {
    color: var(--red);
    background-color: var(--white);
}

/*header section */
header {
    background-color: var(--red);
    display: grid;
    place-items: center;
    font-family: Gotham-Rounded-Light;
    padding: 2rem 0;
}

header > h4 {
    color: var(--white);
    font-size: 2rem;
}

.black-btn {
    background-color: var(--black);
    color: var(--grey);
    cursor: pointer;
}

form {
    display: grid;
    align-items: center;
    font-size: 2rem;
    margin-top: 4rem;
}

form > i {
    transform: translate(5px, 34px);
}

@media (min-width:832px) {
    form {
        display: flex;
        align-items: center;
        font-size: 2rem;
    }

    form > i {
        transform: translateX(17px);
    }
}



form > input {
    font-size: 2rem;
    margin: 0.1rem;
    padding: 1rem;
}

form:nth-child(2){
    padding: 20rem;
}

.padding-left-2rem {
    padding-left: 2rem;
}