/* Initial Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
  font-family: Helvetica-Neue-light, Helvetica, sans-serif;
}

body {
  padding: 0 4rem;
}

/* Color Palette */
:root {
  --red: #d35266;
  --grey: #888;
  --grey-light: #999;
  --grey-light-2: #f7f7f7;
  --black: #383838;
  --white: #fff;
}

/* font faces */
@font-face {
  font-family: Gotham-Rounded-Light;
  src: url('fonts/Gotham\ Rounded\ Light.otf');
}

@font-face {
  font-family: Gotham-Bold;
  src: url('fonts/Gotham\ Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: Helvetica-Neue-light;
  src: url('fonts/HelveticaNeueLTStd\ Lt.otf');
  font-weight: lighter;
}

@font-face {
  font-family: Helvetica-Neue;
  src: url('fonts/HelveticaNeueLTStd-Cn.otf');
}

@font-face {
  font-family: Helvetica-Neue-bold;
  src: url('fonts/HelveticaNeueLTStd-BdCn.otf');
  font-weight: bold;
}

.normal-font {
  font-size: 1.5rem;
}

/* navbar section */
nav {
  background-color: var(--black);
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  list-style: none;
  grid-gap: 2.5rem;
}

@media (max-width: 950px) {
  nav {
    grid-template-columns: 1fr;
  }

  nav > ul {
    grid-template-columns: 200px;
    justify-content: center;
    text-align: center;
    grid-auto-flow: row;
  }
}

.nav-right {
  display: flex;
  margin-right: 4rem;
  align-items: baseline;
}

.white-color {
  color: var(--white);
}

form > a {
  font-size: 2rem;
  margin: 0.1rem;
  margin-left: 2rem;
  padding: 1.1rem 2rem;
  text-decoration: none;
  color: var(--grey);
  background-color: var(--black);
  transition: 0.3s;
}

nav > ul > li > a {
  display: flex;
  font-size: 1.5rem;
  color: var(--grey);
  transition: 0.3s;
  text-decoration: none;
  margin: 1rem 0;
}

/* Parts that move up because of Stickler */
.col-2-grid a {
  text-decoration: none;
  color: var(--grey);
  transition: 0.3s;
}

.copyright a {
  text-decoration: none;
  color: var(--red);
  transition: 0.3s;
}

.col-1-container a {
  text-decoration: none;
  color: var(--grey);
  transition: 0.3s;
}

.social-media a {
  color: var(--grey);
  transition: 0.3s;
}

form > a:hover {
  filter: brightness(1.5);
  font-size: 2.1rem;
  border: 1px solid var(--black);
  cursor: pointer;
}

/* ---- */

nav > ul > li > a:hover {
  color: var(--white);
  cursor: pointer;
}

nav > ul > li > a > i {
  margin: 0 1.5rem;
}

.red-btn {
  padding: 1rem 2rem;
  color: var(--white);
  background-color: var(--red);
  border-radius: 3px;
  transition: 0.3s;
  font-size: 1.5rem;
}

.red-btn:hover {
  color: var(--red);
  background-color: var(--white);
  cursor: pointer;
  border: 1px solid var(--red);
}

/* header section */
header {
  background-color: var(--red);
  display: grid;
  place-items: self-start;
  font-family: Gotham-Rounded-Light, Helvetica, sans-serif;
  padding: 2rem;
}

header > h4 {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
}

.black-btn {
  background-color: var(--black);
  color: var(--grey);
  cursor: pointer;
}

form {
  display: grid;
  grid-template-columns: max-content 1fr 1fr max-content;
  width: 100%;
  align-items: center;
  font-size: 2rem;
  margin-top: 4rem;
}

@media (max-width: 950px) {
  form {
    grid-template-columns: 1fr;
  }

  form > a {
    margin-left: 0;
  }
}

form > input {
  font-size: 2rem;
  margin: 0.1rem;
  padding: 1rem;
}

/* Main Section */
.grey-color {
  color: var(--grey);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main-left {
  border: 1px solid var(--grey-light);
  border-bottom: 0;
  border-top: 0;
}

.main-left input {
  margin: 0.8rem 0;
}

.main-left__title {
  border-bottom: 1px solid var(--grey-light);
  margin: 1rem 0;
  font-family: Helvetica-Neue-bold, Helvetica, sans-serif;
  color: var(--black);
}

.checkbox-margin-right {
  margin-right: 0.5rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.padding-2rem {
  padding: 2rem;
}

.main-right {
  display: grid;
  grid-template-rows: 7rem 1fr;
}

.main-right-1 {
  border-bottom: 1px solid var(--grey-light);
  margin: auto 0;
}

.result {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  border-bottom: 1px solid var(--grey-light);
  padding: 2rem 0;
}

@media (max-width: 500px) {
  .main-container {
    grid-template-columns: 1fr;
  }

  .main-left {
    border-bottom: 1px solid var(--grey-light);
  }
}

@media (max-width: 768px) {
  .result {
    grid-template-columns: 1fr;
    font-size: 1.5rem;
  }

  .hot-ad-section > h2 {
    margin-left: 0;
  }
}

.max-content-grid {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-gap: 1rem;
}

.max-content-grid > h2 {
  color: var(--red);
}

.max-content-grid > p {
  color: var(--grey);
}

.light-grey {
  color: var(--grey-light);
}

.bold-helvetica {
  font-family: Helvetica-Neue-bold, Helvetica, sans-serif;
}

.result-pic {
  display: grid;
  grid-template-columns: 2.6rem 2.5rem;
  justify-content: right;
  align-items: end;
  border: 1px solid var(--grey-light-2);
  width: 100%;
  min-height: 167px;
  height: 100%;
}

.result-pic-1 {
  background-image: url('images/result-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.result-pic-2 {
  background-image: url('images/result-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.result-pic-3 {
  background-image: url('images/result-3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.result-pic-4 {
  background-image: url('images/result-4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.result-pic-5 {
  background-image: url('images/result-5.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.result-pic > i {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2.5rem;
  background-color: var(--black);
  color: var(--red);
  text-align: center;
  cursor: pointer;
}

.horizontal-align {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.grid-gap-2rem {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 2rem;
  align-items: center;
}

/* Footer section */
.footer-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  border: 1px solid var(--grey);
  border-left: 0;
  border-right: 0;
  padding: 2rem 0;
}

.col-2-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  list-style: none;
  padding: 1rem 0;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-gap: 2rem;
  font-size: 4rem;
  list-style: none;
}

.col-2-grid a:hover {
  color: var(--red);
}

.col-1-container {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem 0;
  list-style: none;
}

.col-1-container a:hover {
  color: var(--red);
}

.border-bottom {
  border-bottom: 1px solid var(--red);
}

.foot-4 {
  display: grid;
  place-items: center;
}

.three-x-2-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1.5rem;
  align-items: center;
}

.foot-4 label {
  text-transform: uppercase;
  color: var(--red);
}

.foot-4 input {
  font-size: 1.5rem;
  color: var(--grey);
  padding: 0.3rem 1rem;
  text-align: center;
}

.footer-2 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
}

.copyright a:hover {
  cursor: pointer;
  border: 1px solid var(--red);
  padding: 0.3rem;
}

.social-media a:hover {
  color: var(--red);
  cursor: pointer;
}
